// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
	background-color:#242359;
	color:#FFF;
	padding:5px;
	-moz-box-shadow:0px 2px 2px #999;	
	box-shadow:0px 2px 2px #999;	
}
#titleStyle {
	background-color:#006494;
	color:#FFF;
	padding:5px;
	-moz-box-shadow:0px 2px 2px #999;	
	box-shadow:0px 2px 2px #999;	
}
h3 {
	color: #242359;
	
}
#comments{
	color: red;
}